@import "../../styles/variables.scss";

.container {
  padding: 81px 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: aqua;

  // @media screen and (min-width: 1440px) {
  //   padding: 100px 40px 87px 40px;
  // }
}

.back {
  position: fixed;
  top: 60px;
  left: 20px;
  width: 24px;
  height: 24px;
  background-image: url(../../images/icons/ArrowBack.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding-top: 81x;
}

.dontHave {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.14px;
}

.sign {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.16px;

  &::after {
    display: block;
    position: absolute;
    margin-top: 180px;
    margin-left: -30px;
    left: 50%;
    content: "";
    width: 72px;
    height: 2px;
    background-color: $mainBlack;
  }
}
