@import "../../styles/variables.scss";

.container {
  padding: 81px 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: aqua;
  @media screen and (min-width: 835px) {
    padding: 0px 24px 42px 31px;
  }
}

.back {
  position: fixed;
  top: 60px;
  left: 20px;
  width: 24px;
  height: 24px;
  background-image: url(../../images/icons/ArrowBack.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.tabletContariner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;

  @media screen and (min-width: 1440px) {
    gap: 34px;
  }
}

.logo {
  padding-bottom: 33px;

  @media screen and (min-width: 835px) {
    padding-top: 81px;
    padding-bottom: 0px;
    margin-bottom: 65px;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 137px;
    padding-top: 100px;
  }
}

.logoItem {
  display: block;
  margin-left: 0;
}

.titleTablet {
  margin-bottom: 40px;
  text-align: left;
  color: $primary;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.24px;

  @media screen and (min-width: 1440px) {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
}

.aboutUs {
  text-align: left;
  color: $maimWhite;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  margin-top: 60px;
  padding-bottom: 30px;
  background-color: $formColor;
  border-radius: 32px;

  @media screen and (min-width: 835px) {
    margin-top: 100px;
    padding-bottom: 174px;
  }

  @media screen and (min-width: 1440px) {
    width: 540px;
    padding-bottom: 288px;
  }
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (min-width: 1440px) {
    margin-bottom: 60px;
  }
}

.linkItem {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 1px solid $borderBottom;

  @media screen and (min-width: 1440px) {
    padding-left: 98px;
    padding-right: 99px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.2px;
  }
}
