.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 312px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.16px;
}
