@import "../../styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.inputContainer {
  margin-bottom: 12px;
}
.input {
  padding-left: -10px;
  border: none;
  background-repeat: no-repeat;
  background: $formBackground;
  border-radius: 20px;

  &::placeholder {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
  }
}

.inputField {
  display: flex;
  align-items: baseline;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;
  height: 40px;

  width: 312px;
  // max-width: 100%;
}
.icon {
  position: relative;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.username {
  background-image: url(../../images/icons/UserRounded.svg);
}

.email {
  background-image: url(../../images/icons/Letter.svg);
}
.password {
  background-image: url(../../images/icons/Lock.svg);
}
.inputEmail {
  @extend .input;

  &::placeholder {
    background: url(../../images/icons/Letter.svg) no-repeat;
  }
}
.mistake {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15.5px;
  margin-right: 15.5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.43;
  color: $mistakeColor;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.customChecbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.customChecbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.customChecbox + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  //flex-shrink: 0;
  //flex-grow: 0;
  background-image: url(../../images/icons/CheckboxBorder.svg);
  //border: 2px solid $mainBlack;
  ///border-radius: 0.25em;
  margin-right: 14px;
  //background-repeat: no-repeat;
  //background-position: center center;
  //background-size: 50% 50%;
}
.customChecbox:checked + label::before {
  width: 24px;
  height: 24px;
  background-image: url(../../images/icons/Checkbox.svg);
}
.checkLabel {
  display: block;
  // margin-left: 16px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.14px;
  color: $mainBlack;
}
