@import "styles/variables.scss";

.container {
  //height: calc(100vh - 52px);
  width: 100%;
  background-color: #eef4ff;

  @media screen and (min-width: 835px) {
    // height: calc(100vh - 49px);
    width: calc(100% - 152px);
  }

  @media screen and (min-width: 1440px) {
    //  height: calc(100vh - 102px);
    width: calc(100% - 274px);
  }
}
