$primary: #ded914;
$mainBlack: #080a24;
$segoe: "Segoe UI", "Open Sans", Helvetica, sans-serif;
$formBackground: #fff;
$mistakeColor: #f85757;
$maimWhite: #fcfcfc;
$formColor: #eef4ff;
$response: "359px";
$mobile: "360px";
$tablet: "835px";
$desktop: "1440px";
