$primary: #f6f244;
$secondary: #ded914;
$mainBlack: #080a24;
$segoe: "Segoe UI", "Open Sans", Helvetica, sans-serif;
$formBackground: #fff;
$mistakeColor: #f85757;
$maimWhite: #fcfcfc;
$formColor: #eef4ff;
$borderBottom: #7ac3f1;
$grey: #8b8e8f;
/*$response: "359px";
$mobile: "360px";
$tablet: "835px";
$desktop: "1440px";*/
