$primary: #f6f244;
$secondary: #ded914;
$mainBlack: #080a24;
$segoe: "Segoe UI", "Open Sans", Helvetica, sans-serif;
$formBackground: #fff;
$mistakeColor: #f85757;
$maimWhite: #fcfcfc;
$formColor: #eef4ff;
$borderBottom: #7ac3f1;
$grey: #8b8e8f;
$errorBackground: #eef4ff;
$headerColor: #1c274c;
$textColor: #000;
$chatBackground: #eef4ff;
