@import "styles/variables.scss";

nav {
  display: flex;
  align-items: center;
  height: 24px;
  z-index: 50;

  @media screen and (min-width: 835px) {
  }
}

.burgerBtn {
  position: relative;
  width: 45px;
  height: 24px;
  cursor: pointer;

  & span {
    position: absolute;
    top: 11px;
    width: 24px;
    background-color: $mainBlack;
    height: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    width: 24px;
    background-color: $mainBlack;
    height: 2px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 24px;
    background-color: $mainBlack;
    height: 2px;
  }
}
