@import "../../styles/variables.scss";

.header {
  position: relative;
  height: 52px;
  background-color: $headerColor;

  @media screen and (min-width: 835px) {
    height: 49px;
  }

  @media screen and (min-width: 1440px) {
    height: 102px;
  }
}

.logo {
  margin-left: 21px;
  margin-top: 2px;

  @media screen and (min-width: 1440px) {
    position: absolute;
    left: 32px;
    top: 20px;
  }
}
