@import "../../styles/variables.scss";

.container {
  padding: 84px 24px 40px 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 835px) {
    padding: 80px 40px 87px 40px;
    display: block;
  }

  @media screen and (min-width: 1440px) {
    padding: 100px 40px 87px 40px;
  }
}
.tabletContariner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}
.title {
  padding-bottom: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: $secondary;
  font-family: $segoe;
}

.logo {
  padding-bottom: 176px;

  @media screen and (min-width: 835px) {
    padding-bottom: 0px;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
  }
}
.logoItem {
  display: block;
  margin-left: 0;
}
.titleTablet {
  margin-bottom: 80px;
  text-align: center;
  color: $secondary;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.aboutUs {
  text-align: left;
  color: $maimWhite;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.16px;
}
.button {
  display: flex;
  align-items: center;

  &::after {
    display: block;
    position: absolute;
    margin-top: 106px;
    left: 50%;
    content: "";
    width: 72px;
    height: 2px;
    margin-left: -30px;
    background-color: $mainBlack;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 381px;
  margin-top: 60px;
  padding-bottom: 30px;
  background-color: $formColor;
  border-radius: 32px;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 60px;
  }
}
.linkItem {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 67px;
  padding-right: 67px;
  border-bottom: 1px solid $borderBottom;
}
.text {
  margin-left: 7px;
  margin-right: 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.14px;
  color: $mainBlack;
}
.textLine {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding-bottom: 13px;
}
.google {
  display: flex;
  margin-right: 10px;
}

.auth::after {
  display: block;
  position: absolute;
  margin-top: 61px;
  margin-left: -30px;
  left: 50%;
  content: "";
  width: 72px;
  height: 2px;
  background-color: $mainBlack;
}

.titleDesktop {
  margin-bottom: 100px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: $secondary;
  text-transform: uppercase;
}

.icon {
  position: relative;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.arrow {
  background-image: url(../../images/icons/ButtonAdd.svg);

  &:active {
    background-image: url(../../images/icons/ArrowButtonActive.svg);
  }
}

.animation {
  display: flex;
  justify-content: center;
  margin-top: -325px;
  margin-right: 40px;
}
.ballBlue1 {
  position: relative;
  width: 35px;
  height: 34px;
  border-radius: 50%;
  animation: bounce1 1s ease-in-out infinite alternate /*alternate-reverse*/;
  margin-right: 22px;
}
.ballBlue2 {
  position: relative;
  width: 35px;
  height: 34px;
  border-radius: 50%;
  animation: bounce2 1s ease-in-out infinite;
  margin-right: 22px;
}
.ballYellow {
  position: relative;
  width: 35px;
  height: 34px;
  border-radius: 50%;
  animation: bounce3 1s ease-in-out infinite alternate-reverse;
}

@keyframes bounce1 {
  from {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #e5e155 34%,
      rgba(229, 226, 84, 0.92) 50%,
      rgba(221, 242, 70, 0.8) 96%
    );
  }

  to {
    background-color: #4f8af0;
  }

  from {
    background-color: #70c5c6;
  }

  to {
    background: linear-gradient(359deg, #70c5c6 0%, #4f8af0 100%);
  }

  from {
    background-color: #70c5c6;
  }

  to {
    background: linear-gradient(359deg, #70c5c6 0%, #4f8af0 100%);
  }
}

@keyframes bounce2 {
  from {
    background-color: #70c5c6;
  }

  to {
    background: linear-gradient(359deg, #70c5c6 0%, #4f8af0 100%);
  }

  from {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #e5e155 34%,
      rgba(229, 226, 84, 0.92) 50%,
      rgba(221, 242, 70, 0.8) 96%
    );
  }

  to {
    background-color: #4f8af0;
  }
  from {
    background-color: #70c5c6;
  }

  to {
    background: linear-gradient(359deg, #70c5c6 0%, #4f8af0 100%);
  }
}

@keyframes bounce3 {
  from {
    background-color: #70c5c6;
  }

  to {
    background: linear-gradient(359deg, #70c5c6 0%, #4f8af0 100%);
  }

  from {
    background-color: #70c5c6;
  }

  to {
    background: linear-gradient(359deg, #70c5c6 0%, #4f8af0 100%);
  }
  from {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #e5e155 34%,
      rgba(229, 226, 84, 0.92) 50%,
      rgba(221, 242, 70, 0.8) 96%
    );
  }

  to {
    background-color: #4f8af0;
  }
}
