@import "../../styles/variables.scss";
.sideBar {
  position: absolute;
  left: 0;
  top: 51px;
  width: 80px;
  height: calc(100vh - 51px);
  background-color: $headerColor;

  @media screen and (min-width: 1440px) {
    height: calc(100vh - 101px);
    width: 206px;
    top: 101px;
  }
}
