@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(
    142deg,
    rgba(43, 37, 37, 1) 6%,
    rgba(14, 109, 124, 1) 54%,
    rgba(34, 118, 114, 1) 62%,
    rgba(201, 189, 30, 1) 100%
  );
  /*@media screen and (min-width: 835px) {
    background-image: url(./images/Tablet.jpg);
  }*/
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style: none;
}
img,
svg {
  display: block;
}
button {
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.list {
  list-style: none;
}
.isHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.active {
  color: #080a24;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.16px;
  border-bottom: 2px solid #1c274c;

  @media screen and (min-width: 1440px) {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.2px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
